@import url(reset.css);

* {
    box-sizing: border-box;
    font-weight: nomal;
    outline: none;
}

body {
    background: linear-gradient(to right, red, orange);
}

.calculatorContainer {
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    max-width: 400px;
    min-height: 100vh;
}

.outputContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 15px;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.75);
    word-wrap: break-word;
    word-break: break-all;
}

.previous {
    border: none;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(0, 0, 0, -0.25);
    font-size: 22px;
    text-align: right;
}

.current {
    width: 350px;
    border: none;
    color: #fafafa;
    background-color: rgba(0, 0, 0, -0.25);
    font-size: 33px;
    text-align: right;
    white-space: normal;
}

.calculatorBtn {
    display: grid;
    grid-template-columns: repeat(4, 100px); /* 세로로 100px 너비를 4번 반복한다 */
    grid-template-rows: repeat(5, 100px);
    justify-content: center;
    align-items: center;
}

.calculatorBtn input {
    height: 100px;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.75);
    font-size: 2rem;
    cursor: pointer;
}

.calculatorBtn input:hover {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid white;
    font-size: 2rem;
    cursor: pointer;
}

.spanTwo {
    grid-column: span 2;
}
